{{!-- Page Header --}}
<section id="main-banner-page" class="page-header">
      <div class="container">
            <div class="gradient-bg title-wrap">
                  <div class="row">
                        <div class="col-lg-12 col-md-12 whitecolor">
                              <h3 class="float-left">Sắp ra mắt</h3>
                              <ul class="breadcrumb top10 bottom10 float-right">
                              <li class="breadcrumb-item hover-light"><a href="/">Trang Chủ</a></li>
                              <li class="breadcrumb-item hover-light">Coming soon</li>
                              </ul>
                        </div>
                  </div>
            </div>
      </div>
</section>
{{!-- Page Header ends --}}
{{!-- Error 404 SECTION --}}
<section id="error" class="padding">
    <div class="container page-detail-background">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn" data-wow-delay="500ms">
                <h2 class="heading heading_space darkcolor font-light2"><span class="font-weight-normal"></span>
                Sắp ra mắt
                    <span class="divider-center"></span>
                </h2>
            </div>
            <div class="col-lg-6">
                <div class="image coming-soon-image h-100">
                    <img src="/images/coming-soon.png" alt="Coming Soon" class="w-100 h-100">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mt-lg-0 mt-4 text-center whitebox">
                <h3 class="defaultcolor">Our Website Is Almost Ready</h3>
                <h5 class="font-light py-4">TIME LEFT UNTIL LAUNCHING</h5>
                <div class=" wow bounceIn" data-wow-delay="300ms">
                    <ul class="count_down animated-gradient alt-font">
                        <li>
                            <p class="days">00</p>
                            <p class="days_ref">days</p>
                        </li>
                        <li>
                            <p class="hours">00</p>
                            <p class="hours_ref">hours</p>
                        </li>
                        <li>
                            <p class="minutes">00</p>
                            <p class="minutes_ref">minutes</p>
                        </li>
                        <li>
                            <p class="seconds">00</p>
                            <p class="seconds_ref">seconds</p>
                        </li>
                    </ul>
                </div>
                <h4 class="font-light py-5 mt-3 line-height-17">Chúng tôi sẽ cố gắng hoàn thiện trong thời gian ngắn nhất<br>Cảm ơn bạn đã ủng hộ</h4>
                <div class="count-down-form">
                    <a href="/" class="button gradient-btn">Home</a>
                </div>
                <div class="icon mt-4">
                    <ul class="social-icons black">
                        <li><a class="facebook" href="javascript:void(0)" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="twitter" href="javascript:void(0)" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="insta" href="javascript:void(0)" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a class="whatsapp" href="javascript:void(0)" title="Whatsapp"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Error 404 section end-->